.signup-form-container {
 
}

.signup-form-container h2 {
  text-align: center;
}

.signup-form-container form {

}

.signup-form-container input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form-container button {
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.signup-form-container button:hover {
    // background-color: #ff9400;
    background-color: #fae2e2;

  }
  
  .signup-form-container a {
    text-decoration: none;
  }
  
  .signup-form-container a:hover {
    text-decoration: underline;
  }
  
.guest-button {
  padding: 10px;
  width: 100%;
  // background-color: #ddd;
  border: none;
  cursor: pointer;
}

.Cardimg123{
  background:white;
  color: rgb(9, 8, 8) !important;
  filter:drop-shadow(6px 5px 6px rgb(250, 30, 30));
}


#CardLogText{
  color: white;
  text-shadow: 1px 1.7px #5a3a07;
  background-color: transparent;
}

#Btn{
color:black
}


// #ForgetImg{
//   background: rgb(62,59,116);
//   background: linear-gradient(90deg, rgba(62,59,116,1) 18%, rgba(100,100,190,0.8800654050682774) 52%, rgba(59,125,204,1) 87%);
//   color: #c6ac83;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }

