@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/dist/css/bootstrap.min.css';


.Cardimg123{
  color: rgb(9, 8, 8) !important;
  filter:drop-shadow(6px 5px 6px orange);
}
// .my-global-button {
//   background-color: #809aef !important;
//   color: #fff !important;
//   padding: 10px 20px;
//   border: none !important;
//   border-radius: 30px !important;
//   cursor: pointer;
//   width: auto !important;
//   padding-right: 20px !important;
//   padding-left: 20px !important;
//   text-align: center !important;
//   font-size: 1.1rem !important;
// }
@media (max-width: 576px) {
//   .my-global-button {
//     font-size: 1rem !important;
//   }
// }
// .my-global-button:hover {
//   background-color: #3c4d85 !important;
// }
}
.btn {
  background-color: orange !important;
  color: white !important;
  background-color: orange !important;
  border: 1px solid orange !important; /* Added "1px solid" to make the border visible */
  border-radius: 10px !important;
}
.fixed-header {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above other elements */
  background-color: #fff; /* Set a background color to make it visible */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
  
}
body{
  font-family:'Arial', 'Helvetica', sans-serif !important;
}

.CardImg114{
  color: rgb(9, 8, 8) !important;
  filter:drop-shadow(6px 5px 6px orange) !important;

  } 

/* Define the styles for the pagination container */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 10px 15px;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
}

/* Define the styles for the active page */
.pagination li.active a {
  background-color: orange; /* Your desired active background color */
  color: white !important; /* Your desired active text color */
  border-color: orange; /* Match the border color to the background */
}

