
#PersonalBGImg{
    /* background-image:url('../../../assets/img/dark-gradient-background-with-copy-space_53876-99548.avif'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
}
#CardBackIMg{
   color: black;
   background-color: white;
   filter:drop-shadow(6px 5px 6px rgb(250, 30, 30));
  }

    
  #checkout_btn:hover,
  #checkout_btn:focus {
    background-color: transparent !important;
    color: black; /* text color on hover and focus */
    border: 1px solid red; /* border on hover and focus, optional */
  }
  #ShippingInfo{
    background-color: white !important;
  }